.product-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    
    
}
.product-sub-header{
    display: flex;
    justify-content: flex-start;
    align-items:  center;
    width: 710px;
    height: 80px;
    padding:20px 0px;
    border-bottom:1px solid lightgray;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.product-sub-header-menu{
    font-size: 18px;
    padding:20px 0px;
    margin-right:40px;
    box-sizing: border-box;
    cursor: pointer;
}
.product-sub-header-menu:last-child{
    margin:0px;
}

.product-contents{
    display: flex;
    justify-content: center;
    align-items: center;
width:100%;
min-height:800px;
background-color: none;
}

.product-image-1{
    width:100%;
    height:900px;
    background-image: url("http://www.seoyonelec.com/images/sub/ldc_img.jpg");
background-repeat: no-repeat;
background-position: center;
}
.product-image-2{
    width:100%;
    height:900px;
    background-image: url("http://www.seoyonelec.com/images/sub/dcdc_img.jpg");
background-repeat: no-repeat;
background-position: center;
}