.recruit-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    
    
}
.recruit-sub-header{
    display: flex;
    justify-content: flex-start;
    align-items:  center;
    width: 710px;
    height: 80px;
    padding:20px 0px;
    border-bottom:1px solid lightgray;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.recruit-sub-header-menu{
    font-size: 18px;
    padding:20px 0px;
    margin-right:40px;
    box-sizing: border-box;
    cursor: pointer;
}
.recruit-sub-header-menu:last-child{
    margin:0px;
}

.recruit-contents{
    display: flex;
    justify-content: center;
    align-items: center;
width:100%;
min-height:800px;
background-color: none;
}

.recruit-image-1{
    width:100%;
    height:1130px;
    background-image: url(../../../../asset/image/status_img.jpg);
background-repeat: no-repeat;
background-position: center;
}
.recruit-image-2{
    width:100%;
    height:1900px;
    background-image: url(../../../../asset/image/resource_img.jpg);
background-repeat: no-repeat;
background-position: center;
}
.recruit-infomation{
    width:715px;
}
.recruit-image-recruit1{
    width:100%;
    height:250px;
    background-image: url(../../../../asset/image/notice_img1.jpg);
background-repeat: no-repeat;
background-position: center;
}

.recruit-image-recruit2{
    width:100%;
    height:923px;
    background-image: url(../../../../asset/image/notice_img2.jpg);
background-repeat: no-repeat;
background-position: center;
margin-bottom:50px;
}
.recruit-infomation-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recruit-email-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:160px;
    height:36px;
    border:2px solid #18487e;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:16px;
    color: #18487e;
    font-weight: bold;
    margin-bottom: 35px;
    text-decoration: none;
}
.recruit-email-btn:hover{
    cursor: pointer;
    background-color: #18487e;
    color:white;
    transition: all 0.2s ease-out;
}