.footer-container{
    bottom:0px;
    left:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:300px;
    border:4px solid green;
    box-sizing: border-box;
    background-color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
